body {
    background-color: black;
}

.navbar-brand>strong {
    color: gold;
}

main {
    margin: 20px 0px 0px 0px;
    color: white;
}

.dojo-survey>h1 {
    padding: 2%;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 1%;
}

.dojo-survey>h1 {
    background-color: darkslategray;
    color: gold;
}



.enter-selection-button {
    background-color: indianred;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    font-weight: bold;
    padding: 0px 10px ;
}

.enter-selection-button:hover, .enter-selection-button:active {
    background-color: yellow;
    color: steelblue;
}

.play-again {
    background-color: yellow;
    color: navy;
    border: none;
    padding: 0px 15px;
    border-radius: 20px;
    margin: 20px;
}