body {
    background-color: black;
}

.navbar-brand>strong {
    color: gold;
}

main {
    margin: 20px 0px 0px 0px;
    color: white;
}

.dojo-survey {
    padding: 2%;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 1%;
}

.dojo-survey {
    background-color: darkslategray;
    color: gold;
}

form, .display-result {
    border-radius: 10px;
    margin-bottom: 1%;
    background-color: darkslategray;
    /* height: 800px;  */
    padding: 2%;
}

form>*, .display-result>* {
    margin-bottom: 1%;
}

#f-name, #l-name {
    margin: 0% 2%;
    width: 50%;
}

.location-form>*, .location-form>*>*, .fav-language-form>*, .fav-language-form>*>* {
    margin: 0% 2%;
    align-items: center;
}

#comment {
    height: 100px;
    width: 100%;
}

.return-home {
    background-color: yellow;
    color: navy;
    border: none;
    padding: 0px 15px;
    border-radius: 20px;
    margin: 20px;
}