body {
    background-color: black;
}

.navbar-brand>strong {
    color: gold;
}

main {
    margin: 20px 0px 0px 0px;
    color: white;
}

.dojo-survey {
    padding: 2%;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 1%;
}

.dojo-survey {
    background-color: darkslategray;
    color: gold;
}

form {
    border-radius: 10px;
    margin-bottom: 1%;
    background-color: darkslategray;
    height: 800px;
    padding: 2%;
}

form>* {
    margin-bottom: 1%;
}

#f-name, #l-name {
    margin: 0% 2%;
    width: 50%;
}

.location-form>*, .location-form>*>*, .fav-language-form>*, .fav-language-form>*>* {
    margin: 0% 2%;
    align-items: center;
}

#comment {
    height: 100px;
    width: 100%;
}





.enter-selection-button {
    background-color: indianred;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    font-weight: bold;
    padding: 0px 10px ;
}

.enter-selection-button:hover, .enter-selection-button:active {
    background-color: yellow;
    color: steelblue;
}

.play-again {
    background-color: yellow;
    color: navy;
    border: none;
    padding: 0px 15px;
    border-radius: 20px;
    margin: 20px;
}