<!DOCTYPE html>
<html lang="en">

<!--/////////////////////////////////////////////////////////////////////////////
  Coding Dojo > Python Stack > Flask > Fundamentals: Dojo Survey
  By: Virgilio D. Cabading Jr   Created: Oct 31, 2021
# /////////////////////////////////////////////////////////////////////////////// -->

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/css_lib.css') }}"> -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <title>Dojo Survey</title>
</head>
<body>
  <!-- //// HEADER //////// -->
  <header>
    <div class="navbar navbar-dark bg-dark box-shadow">
      <div class="container d-flex justify-content-between">
        <a href="/" class="navbar-brand d-flex align-items-center">
          <strong>Dojo Survey</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header>
  
  <!-- //// MAIN AREA //////// -->
  <main role="main">
    <main role="main">
      <div class="container">
        <div class="row">
          <!-- **** LEFT COLUMN IN MAIN AREA ******** -->
          <div class="col-md-3">
            <h1 class='dojo-survey'>
              Dojo Survey
            </h1>
          </div>

          <!-- **** RIGHT COLUMN IN MAIN AREA ******** -->
          <div class="col-md-9">
            <!-- **** Form ******** -->
            <form action='/get_survey' method='post'>
              <div>
                <label for=" f-name">First name:</label>
                <input type="text" id="f-name" name="f-name">
              </div>
              <div>
                <label for="l-name">Last name:</label>
                <input type="text" id="l-name" name="l-name">
              </div>
              <div class="location-form row">
                <label for="location">Dojo Location:</label>
                <div class="row">
                  <input type="checkbox" id="location1" name="location1" value="Online">
                  <label for="location1"> Online</label><br>
                  <input type="checkbox" id="location2" name="location2" value="Seattle">
                  <label for="location2"> Seattle</label><br>
                  <input type="checkbox" id="location3" name="location3" value="San Jose">
                  <label for="location3"> San Jose</label><br>
                  <input type="checkbox" id="location4" name="location4" value="Los Angeles">
                  <label for="location4"> Los Angeles</label><br>
                  <input type="checkbox" id="location5" name="location5" value="Chicago">
                  <label for="location5"> Chicago</label><br>
                  <input type="checkbox" id="location6" name="location6" value="Dallas">
                  <label for="location5"> Dallas</label><br>
                  <input type="checkbox" id="location7" name="location7" value="New York">
                  <label for="location7"> New York</label><br>
                </div>
              </div>
              <div class="fav-language-form row"> 
                <label for="fav-language">Favorite Language:</label>
                <div class="row">
                  <input type="radio" id="html" name="fav-language" value="HTML">
                  <label for="html">HTML</label><br>
                  <input type="radio" id="css" name="fav-language" value="CSS">
                  <label for="css">CSS</label><br>
                  <input type="radio" id="javascript" name="fav-language" value="JavaScript">
                  <label for="javascript">JavaScript</label><br>
                  <input type="radio" id="python" name="fav-language" value="Python">
                  <label for="python">Python</label><br>
                  <input type="radio" id="c" name="fav-language" value="C">
                  <label for="c">C</label><br>
                  <input type="radio" id="c++" name="fav-language" value="C++">
                  <label for="c++">C++</label><br>
                  <input type="radio" id="c#" name="fav-language" value="C#">
                  <label for="c#">C#</label><br>
                  <input type="radio" id="java" name="fav-language" value="Java">
                  <label for="c#">Java</label>
                </div>
              </div>
              <div>
                <label for="comment">Comment (optional):</label>
                <input type="text" id="comment" name="comment" placeholder="Type Comment Here . . .">
              </div>
              <input type="submit" value="Submit">
            </form>
          </div>
        </div>
      </div>    
    </main>
  </main>
</body>
</html>