<!DOCTYPE html>
<html lang="en">

<!--/////////////////////////////////////////////////////////////////////////////
  Coding Dojo > Python Stack > Flask > Fundamentals: Dojo Survey
  By: Virgilio D. Cabading Jr   Created: Oct 31, 2021
# /////////////////////////////////////////////////////////////////////////////// -->

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/css_lib.css') }}"> -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <title>Dojo Survey</title>
</head>
<body>
  <!-- //// HEADER //////// -->
  <header>
    <div class="navbar navbar-dark bg-dark box-shadow">
      <div class="container d-flex justify-content-between">
        <a href="/" class="navbar-brand d-flex align-items-center">
          <strong>Dojo Survey</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header>
  
  <!-- //// MAIN AREA //////// -->
  <main role="main">
    <main role="main">
      <div class="container">
        <div class="d-flex">
          <!-- **** LEFT COLUMN IN MAIN AREA ******** -->
          <div class="col-md-3">
            <h1 class='dojo-survey'>
              Dojo Survey
            </h1>
          </div>
          
          <!-- **** RIGHT COLUMN IN MAIN AREA ******** -->
          <div class="col-md-9">
            <!-- **** Form ******** -->
            <form action='/get_survey' method='post'>
            
            </form>
          </div>
        </div>
      </div>    
    </main>
  </main>
</body>
</html>